{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}
    <h1>Experience</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ experience.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ experience.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ experience.description }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ experience.experience }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ experience.domain }}</td>
            </tr>
{#            <tr>#}
{#                <th>CreatedAt</th>#}
{#                <td>{{ experience.createdAt ? experience.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('experience_index') }}">back to list</a>

    <a href="{{ path('experience_edit', {'id': experience.id}) }}">edit</a>

    {{ include('experience/_delete_form.html.twig') }}
{% endblock %}
