<form method="post" action="{{ path('employe_delete', {'id': employe.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
