{% extends 'base.html.twig' %}

{% block title %}Employe index{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">


                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title">Liste des Employes</h4>
                                    <p class="card-description">
                                        Gestion des employes
                                    </p>
                                </div>
                                <div>
                                    <a href="{{ path('employe_new') }}" class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Nouveau</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Photo</th>
                                        <th>Mon et prenom</th>
                                        <th>Age</th>
                                        <th>Diploma</th>
                                        {#                <th>UpdatedAt</th>#}
                                         <th>Date de creation</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employe in employes %}

                                        <tr>
                                            <td>{{ employe.id }}</td>
                                            <td class="py-1">
                                                <img src="{{ asset('assets/images/faces/face1.jpg') }}" alt="image">
                                            </td>
                                            <td>{{ employe.firstname }} {{ employe.lastname }}</td>
                                            <td>{{ employe.age }}</td>
                                            <td>{{ employe.diploma }}</td>
                                            <td>{{ employe.diploma }}</td>
                                            {#                <td>{{ employe.updatedAt ? employe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                                            {#                <td>{{ employe.createdAt ? employe.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                                            <td>
                                                <a href="{{ path('employe_show', {'id': employe.id}) }}"><i class="mdi mdi-eye-outline" style="font-size: 20px;"></i></a> &nbsp; &nbsp;
                                                <a href="{{ path('employe_edit', {'id': employe.id}) }}" ><i class="mdi mdi-pencil-outline"  style="font-size: 20px;"></i></a>
                                            </td>
                                        </tr>

                                    {% else %}
                                        <tr>
                                            <td colspan="8">La liste est vide</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
