{% extends 'base.html.twig' %}

{% block title %}New Employe{% endblock %}

{% block body %}

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title">Nouveau employe</h4>
                        <p class="card-description">
                        </p>
                    </div>
                    <div>
                        <a href="{{ path('employe_index') }}" class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-folder"></i>Retour a la liste</a>
                    </div>
                </div>

                {{ form_start(form, {'method': 'post', 'action': path('employe_new')}, {'attr': {'class': 'mt-4 forms-sample'}}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    <label>Nom</label>
                    {{ form_widget(form.firstname,{'attr': {'class': 'form-control', 'placeholder': "Nom"}}) }}
                    <small class="form-text text-danger">{{ form_errors(form.firstname) }}</small>
                </div>
                <div class="form-group">
                    <label>Prenom</label>
                    {{ form_widget(form.lastname,{'attr': {'class': 'form-control', 'placeholder': "Prenom"}}) }}
                    <small class="form-text text-danger">{{ form_errors(form.lastname) }}</small>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    {{ form_widget(form.age,{'attr': {'class': 'form-control', 'placeholder': "Age"}}) }}
                    <small class="form-text text-danger">{{ form_errors(form.age) }}</small>
                </div>
                <div class="form-group">
                    <label>Diplome</label>
                    {{ form_widget(form.diploma,{'attr': {'class': 'form-control', 'placeholder': "Age"}}) }}
                    <small class="form-text text-danger">{{ form_errors(form.diploma) }}</small>
                </div>
                <button type="submit" class="btn btn-primary me-2">Valider</button>
                <button class="btn btn-light">Cancel</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
