{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <h1 >Detail de l'employe</h1>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Information generale</h4>
                    <p class="card-description">

                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Identifiant</th>
                                <td>{{ employe.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ employe.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Prenom</th>
                                <td>{{ employe.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ employe.age }} ans</td>
                            </tr>
                            <tr>
                                <th>Diplome</th>
                                <td>{{ employe.diploma }}</td>
                            </tr>
                            {#            <tr>#}
                            {#                <th>UpdatedAt</th>#}
                            {#                <td>{{ employe.updatedAt ? employe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                            {#            </tr>#}
                            <tr>
                                <th>Date de creation</th>
                                <td>{{ employe.createdAt ? employe.createdAt|date('Y-m-d H:i:s') : '' }}

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Experiences</h4>
                    <p class="card-description">

                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Experience</th>
                                <th>Domain</th>
                                {#                <th>CreatedAt</th>#}
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for experience in employe.experiences %}
                                <tr>
                                    <td>{{ experience.id }}</td>
                                    <td>{{ experience.title }}</td>
                                    <td>{{ experience.description }}</td>
                                    <td>{{ experience.experience }}</td>
                                    <td>{{ experience.domain }}</td>
{#                                                    <td>{{ experience.createdAt ? experience.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}

                                    <td>
                                        <a href="{{ path('experience_show', {'id': experience.id}) }}"><i class="mdi mdi-eye-outline" style="font-size: 20px;"></i></a>
                                        <a href="{{ path('experience_edit', {'id': experience.id}) }}"><i class="mdi mdi-pencil-outline"  style="font-size: 20px;"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>





    <a href="{{ path('employe_index') }}">back to list</a>

    <a href="{{ path('employe_edit', {'id': employe.id}) }}">edit</a>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
